DB_HOST=gateway01.ap-northeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=Uy6vk4V1iZqD7WX.root
DB_PASSWORD=jft2JcdsYkH0rlTv
DB_NAME=bugtracker

JWT_SECRET=bugtracker123456

GOOGLE_CLIENT_ID=61004042017-ts2vjtssgo6oo7cvb0cm6mlvjkmqejn7.apps.googleusercontent.com